.App {
  width: 100%;
  max-width: 1300px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.container-todo {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-auto-flow: row;
  align-items: flex-start;
  gap: 30px;
  height: 500px;
  overflow-y: scroll;
  flex-wrap: wrap;
}
